/.expo
node_modules
package.json
yarn.lock
ios/**
android/**
assets/**
.vscode
.expo-shared
.prettierrc
eslint.config.js
dist/**
*.txt
*.log
build
coverage
metro.config.js
babel.config.js
.cursorrules
